.container {
    position: relative;
    margin-top: 56px;
}

@media (min-width: 600px) {
  .container {
    margin-top: 60px;
  }  
}
@media (min-width: 900px) {
  .container {
    margin-top: 57px;
  }  
}
@media (min-width: 1200px) {
  .container {
    margin-top: 119px;
  }  
}
@media (min-width: 1536px) {
  .container {
    margin-top: 62px;
  }  
}
@media (min-width: 1920px) {
  .container {
    margin-top: 256px;
  }  
}