html {
  scroll-behavior: smooth;
}

.divider {
  margin: 0 -20px;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
}

@media (min-width: 900px) {
  .divider {
    margin: 0 -30px;
  } 
}
@media (min-width: 1200px) {
  .divider {
    margin: 0 -50px;
  } 
}
@media (min-width: 1920px) {
  .divider {
    margin: 0 -60px;
  }
}